body {
    margin: 0 auto;
}

.rankingcasinoexplanimg {
    img {
        width: 100%;
        height: 100%;
    }
}

.casinoinfo_card_pink {
    background-image: linear-gradient(270deg, #ff77a4 0%, #ff3d7d 100%) !important;
}

// パンフレット
.casinoshortinfo {
    .casinoshortinfo_title {
        font-size: 1.4rem;
        margin-bottom: 1em;
        font-weight: bold;
        border-left: 6px #ff3d7d solid;
        padding-left: 2%;
        line-height: 1.42;
    }
}

// 決済方法について
.paymentway {
    padding: 0.7rem;
    background-color: #ff3d7d;

    .paymentway_h3 {
        font-size: 1.05rem;
        margin-bottom: 0rem;
        line-height: 1.5;
        text-align: left;
        font-weight: bold;
        color: white;
        margin: 0 !important;
    }
}

.payment_header {
    display: flex !important;
    justify-content: space-between;
    padding: 1rem 0.5rem !important;
}

.casinoaboutpayment {
    margin-top: 40px;
}

.casinoinfopayment_arrow {
    display: none;
    color: #86868b;
    float: right;
    padding-bottom: 20px;
}

.casinoinfopaymentintro {
    font-size: 13px;

    .tablesticky {
        display: flex;
        justify-content: center;

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            height: 64px;
            text-align: center !important;
            vertical-align: middle !important;
            word-break: keep-all;
        }

        .tablesticky_l {
            position: sticky;
            width: 100px;
            top: 40px;
            left: 0;
            flex-grow: 0;
            flex-shrink: 0;

            .casinoinfointro_payment {
                img {
                    width: 46px;
                    height: 100%;
                }
            }
        }

        .tablesticky_r {
            overflow: auto;
            flex-grow: 0;

            .tablestickyr_ps {
                padding: 0 17px !important;
            }

            .tablestickyr_p10 {
                padding: 0 10px !important;
            }

            td {
                padding: 0 30px;
            }
        }
    }
}

.ranking_point_img {
    img {
        width: 100%;
        height: 100%;
    }
}

// 目次
.casino_content_h2 {
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    margin: 0 !important;
}

.casino_button_h2 {
    font-size: 1.3rem;
    margin-bottom: 0rem;
    line-height: 1.5;
    color: white;
    margin: 0 !important;
}

// オンラインカジノ最新記事
.casino_content_kiji {
    border-left: 32px solid #fff;
    border-right: 32px solid #fff;

    .text-center {
        position: relative;
        display: flex;
        justify-content: center;

        h3 {
            background-color: #fff;
            z-index: 1;
            font-size: 1.2rem;
            font-weight: bold;
            color: #ff3d7d;
            padding: 0 16px;
        }
    }

    .text-center::after {
        content: "";
        border-top: 3px solid #ff3d7d;
        position: absolute;
        width: 100%;
        bottom: 16px;
        left: 0px;
    }
}

// オンラインカジノ基本情報
#casinobasicinfo {
    .casinobasicinfo_title {
        display: flex;
        background: #ff3d7d;
        padding: 11px;

        img {
            width: 18px;
            height: 21px;
            fill: #fff;
        }
        h3 {
            color: #fff;
            font-size: 1.05rem;
            font-weight: bold;
            margin-bottom: 0rem;
            margin-left: 6px;
        }
    }

    .casinobasicinfoimg {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .casinobasicinfo_table {
        font-size: 15px;

        th {
            width: 110px;
            text-align: center;
            vertical-align: middle !important;
            background-color: #f2f2f2;
        }

        td {
            vertical-align: middle !important;
        }
    }
}

.casino_about_title {
    background-color: #ff3d7d;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    padding: 2% 3%;
}

.casino_about_ul {
    list-style-type: none;
    padding-inline-start: 2% !important;
}

.casino_about_ul li::before {
    font-family: "Font Awesome 5 Free" !important;
    content: "\f105" !important;
    font-weight: 700 !important;
    margin-right: 2%;
    color: #5c9ee7 !important;
}

.casino_about_content {
    background-color: white;
}

// オンラインカジノとは
.verajohn_title {
    background-image: -webkit-linear-gradient(bottom, #bb116d 0%, #e51e8d 25%, #ed30a3 50%, #f444b8 85%, #fa57cc 100%);
    display: flex;
    padding: 3% 3%;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 5px black;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.verajohn_content {
    padding: 5%;
}

.space-content-section img {
    border-radius: 0px;
}

.casino_buttom {
    display: flex;
    justify-content: space-between;
}

.verajohn_homepage {
    width: 49%;
    background-image: -webkit-linear-gradient(bottom, #bb116d 0%, #e51e8d 25%, #ed30a3 50%, #f444b8 85%, #fa57cc 100%);
    color: white !important;
    text-shadow: 1px 1px 5px black;
    text-decoration-line: none !important;
}

// オンラインカジノ記事
.casino_kijiall {
    border-bottom: 1px solid #f0f0f0;

    .casino_kiji {
        border-top: 1px solid #f0f0f0;

        .row {
            text-decoration: none;
            padding: 15px 0px;

            .casino_kiji_title {
                font-weight: bold;
            }

            .casino_kiji_time {
                color: #9e9e9e;
                font-size: 0.8rem;
            }

            .casino_kiji_IMG {
                padding-left: 0%;

                br {
                    display: none;
                }

                img {
                    border-radius: 0.3rem;
                    width: 100%;
                }
            }
        }

        .row:hover {
            background-color: #f9f9f9;
        }
    }
}

// オンラインカジノ徹底解説　目次
.casino_about_ul ul {
    padding-inline-start: 2%;
    list-style-type: none;

    a {
        color: #0071bc;
        font-weight: bolder;
        text-decoration-line: none;
    }

    li {
        padding-inline-start: 6%;

        a {
            font-size: 0.8rem;
            color: #00375e;
            text-decoration-line: none;
        }
    }
}

// ポイント１
.recommendpoints {
    position: relative;
    // padding: 2px 5px 2px 50px;
    padding: 0.7em 0.7em 0em 0.7em;
    color: #010101; /*文字色*/
    background: #ffe5ee; /*背景色*/
    border-bottom: solid 3px #ff3d7d; /*下線*/

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.point_2 {
    position: relative;
    padding: 2px 5px 2px 50px;

    h2 {
        font-size: 1rem;
        font-weight: bolder;
    }

    ::before {
        font-family: "Font Awesome 5 Free";
        content: "\f51e";
        display: inline-block;
        line-height: 40px;
        position: absolute;
        padding: 0em;
        color: white;
        background: #ff6363;
        font-weight: 900;
        width: 40px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        left: 0em;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    }

    ::after {
        content: "";
        position: absolute;
        left: 0;
        top: 2.6rem;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    }
}

.point_3 {
    position: relative;
    padding: 2px 5px 2px 50px;

    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    ::before {
        font-family: "Font Awesome 5 Free";
        content: "\f3cd";
        display: inline-block;
        line-height: 40px;
        position: absolute;
        padding: 0em;
        color: white;
        background: #ff6363;
        font-weight: 900;
        width: 40px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        left: 0em;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    }

    ::after {
        content: "";
        position: absolute;
        left: 0;
        top: 2.6rem;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    }
}

.point_4 {
    position: relative;
    padding: 2px 5px 2px 50px;

    h2 {
        font-size: 1rem;
        font-weight: bolder;
    }

    ::before {
        font-family: "Font Awesome 5 Free";
        content: "\f4d3";
        display: inline-block;
        line-height: 40px;
        position: absolute;
        padding: 0em;
        color: white;
        background: #ff6363;
        font-weight: 900;
        width: 40px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        left: 0em;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    }

    ::after {
        content: "";
        position: absolute;
        left: 0;
        top: 2.6rem;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    }
}

.casino_login_way {
    position: relative;
    padding: 2px 5px 2px 50px;

    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    ::before {
        font-family: "Font Awesome 5 Free";
        content: "\f2f6";
        display: inline-block;
        line-height: 40px;
        position: absolute;
        padding: 0em;
        color: white;
        background: #ff6363;
        font-weight: 900;
        width: 40px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        left: 0em;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    }

    ::after {
        content: "";
        position: absolute;
        left: 0;
        top: 2.6rem;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    }
}

.point1_IMG IMG {
    width: 100%;
}

// Q&A
.cp_qa *,
.cp_qa *:after,
.cp_qa *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cp_qa {
    overflow-x: hidden;
    margin: 0 auto;
    color: #333333;
}
.cp_qa .cp_actab {
    padding: 20px 0;
    border-bottom: 1px dotted #cccccc;
}
.cp_qa label {
    font-size: 1.2em;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 10px 0 35px;
    cursor: pointer;
    color: #0071bc;
    font-weight: bold;
}
.cp_qa .cp_actab-content {
    font-size: 1em;
    position: relative;
    overflow: hidden;
    height: 0;
    margin: 0 22px;
    padding: 0 14px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0;
}
.cp_qa .cp_actab input[type="checkbox"]:checked ~ .cp_actab-content {
    height: auto;
    padding: 14px;
    opacity: 1;
    font-weight: bold;
}
.cp_qa .cp_plus {
    font-size: 2.4em;
    line-height: 100%;
    position: absolute;
    z-index: 5;
    margin: 3px 0 0 0px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #0071bc;
}
.cp_qa .cp_actab input[type="checkbox"]:checked ~ .cp_plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cp_qa .cp_actab input[type="checkbox"] {
    display: none;
}

// 登録方法
#lightgallery {
    .lightgallerya {
        overflow: hidden;
        display: inline-block;

        img {
            transition: transform 0.15s ease 0s;
        }

        .lightgallery_zoom {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 15%;
                fill: #fff;
            }
        }
    }

    .lightgallerya:hover .lightgallery_img {
        filter: brightness(80%);
    }

    .lightgallerya:hover .lightgallery_zoom img{
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .casinoinfopayment_arrow {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .ranking_point .ranking_point_title {
        font-size: 1rem;
    }

    .casino_content_kiji {
        border-left: 0.5rem solid #fff;
        border-right: 0.5rem solid #fff;

        .text-center {
            h3 {
                padding: 0 8px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .casino_content_kiji {
        border-left: 0rem solid #fff;
        border-right: 0rem solid #fff;

        .text-center {
            h3 {
                font-size: 1rem;
                padding: 0 8px;
            }
        }
    }
}
